body {
    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
    /* --color1: hsla(349, 69%, 76%, 1);
    --color2: hsla(207, 67%, 44%, 1);
    --color3: hsla(200, 61%, 56%, 1);
    --color4: hsla(187, 41%, 94%, 1);
    --color5: hsla(170, 28%, 95%, 1); */

    /* --color1: hsla(45, 86%, 83%, 1);
    --color2: hsla(135, 65%, 98%, 1);
    --color3: hsla(315, 37%, 86%, 1);
    --color4: hsla(45, 73%, 98%, 1);
    --color5: hsla(224, 40%, 79%, 1); */
    
    --gutter: 15px;
    background-image: url('../assets/BLACK_BACKGROUND_MAR_19_EEZY_06.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family: 'Larabiefont';
    color: rgba(255, 255, 255, 0.795)
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
}

.name {
    font-family: 'streamster';
    font-size: 7em;
    color: rgba(221, 14, 159, 0.671);
    text-shadow: 5px 5px 10px rgba(19, 23, 255, 0.925);
    margin-left: 4%;
}

#title {
    margin-top: -2.5%;
    margin-left: 10%;
    font-weight: bolder;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    border-radius: 40px;
    max-width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    border: solid 2px var(--color1);
    color: rgba(255, 255, 255, 0.795);
    padding:  15px;
}



.bio {
    background-color: rgba(54, 98, 116, 0.808);
    box-shadow: 6px 10px rgba(75, 14, 87, 0.747);
}

.portfolio {
    background-color: rgba(54, 98, 116, 0.808);
    box-shadow: 6px 10px rgba(75, 14, 87, 0.747)
}
.socials {
    border-radius: 40px;
    width: 70%;
    background-color: rgba(54, 98, 116, 0.808);
    box-shadow: 6px 10px rgba(75, 14, 87, 0.747)
}

a {
    text-shadow: 4px 4px 5px rgba(255, 255, 255, 0.795);
    color:  rgb(177, 16, 155);
}

@font-face {
    font-family: 'Larabiefont';
    src: url('../fonts/LarabiefontRg-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/LarabiefontRg-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/LarabiefontRg-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/LarabiefontRg-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/LarabiefontRg-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/LarabiefontRg-Regular.svg') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Streamster';
    src: url('../fonts/Streamster.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Streamster.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Streamster.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Streamster.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Streamster.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Streamster.svg') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'VCROSDMono';
    src: url('../fonts/VCROSDMono.eot'); /* IE9 Compat Modes */
    src: url('../fonts/VCROSDMono.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/VCROSDMono.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/VCROSDMono.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/VCROSDMono.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/VCROSDMono.svg') format('svg'); /* Legacy iOS */
}


footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: space-between;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}

.left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.right {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

img {
    width: 100px;
}

.top-right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: -8%;
}

#vercel {
    height: 65px;
    width: auto;
}