body {
    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
    /* --color1: hsla(349, 69%, 76%, 1);
    --color2: hsla(207, 67%, 44%, 1);
    --color3: hsla(200, 61%, 56%, 1);
    --color4: hsla(187, 41%, 94%, 1);
    --color5: hsla(170, 28%, 95%, 1); */

    /* --color1: hsla(45, 86%, 83%, 1);
    --color2: hsla(135, 65%, 98%, 1);
    --color3: hsla(315, 37%, 86%, 1);
    --color4: hsla(45, 73%, 98%, 1);
    --color5: hsla(224, 40%, 79%, 1); */
    
    --gutter: 15px;
  background-color: #00517d;
  background-image: linear-gradient(169deg, #00517d 18%, #4cc7cd 47%, #6c14dc 66%, #d544f8 95%);
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  margin: 0;
}


header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
}

.name {
    font-family: 'streamster';
    font-size: 7em;
    color: rgba(221, 14, 159, 0.671);
    text-shadow: 5px 5px 10px rgba(19, 200, 255, 0.925);
    margin-left: 4%;
}

.title {
    margin-top: -2.5%;
    margin-left: 10%;
    font-weight: bolder;
}

.location {
    margin-top: -2.3%;
    margin-left: 28.5%;
    font-weight: bolder;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

section {
    border-radius: 40px;
    max-width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    border: solid 2px var(--color1);
    color: rgba(255, 255, 255, 0.795);
    padding:  15px;
}



.bio {
    background-color: rgba(54, 98, 116, 0.514);
    box-shadow: 6px 6px 10px rgba(75, 14, 87, 0.747);
    width: 70%;
}

.portfolio {
    background-color: rgba(54, 98, 116, 0.514);
    box-shadow: 6px 6px 10px rgba(75, 14, 87, 0.747);
    width: 70%;
}
.socials {
    border-radius: 40px;
    width: 70%;
    background-color: rgba(54, 98, 116, 0.514);
    box-shadow: 6px 6px 10px rgba(75, 14, 87, 0.747);
}

a {
    color: rgba(221, 14, 159, 0.671);
    text-shadow: 5px 5px 10px rgba(19, 200, 255, 0.925);
}

@font-face {
    font-family: 'Larabiefont';
    src: url('../fonts/LarabiefontRg-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/LarabiefontRg-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/LarabiefontRg-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/LarabiefontRg-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/LarabiefontRg-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/LarabiefontRg-Regular.svg') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Streamster';
    src: url('../fonts/Streamster.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Streamster.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Streamster.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Streamster.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Streamster.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Streamster.svg') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'VCROSDMono';
    src: url('../fonts/VCROSDMono.eot'); /* IE9 Compat Modes */
    src: url('../fonts/VCROSDMono.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/VCROSDMono.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/VCROSDMono.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/VCROSDMono.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/VCROSDMono.svg') format('svg'); /* Legacy iOS */
}


footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: space-between;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}

.left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.right {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

img {
    width: 100px;
}

.top-right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: -10%;
}

#vercel {
    height: 45px;
    width: auto;
    margin-top: -8%;
    opacity: 50% ;
}

h2 {
    font-family: 'VCROSDMono';
    text-shadow: 3px 3px 5px rgba(229, 29, 255, 0.904);
    font-size: 35px;
    margin-top: -1%;
}